body {
  background-color: #353b48 !important;
  color: #fff !important;
}
.body {
  margin-top: 20px;
}
.cards > div > div.card {
  height: calc(100% - 15px);
  margin-bottom: 15px;
}
.card-span {
  display: block !important;
  white-space: normal !important;
}
.card-body > div.btn-group {
  margin-bottom: 5px;
}

.modal-title {
  color:#000 !important;
}

.nav-link2 {
  color: #000 !important;
}

.badge-dark {
  background-color: #64696f !important;
}