name: Publish Docker

on: push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Docker Build & Push to Docker Hub
        uses: opspresso/action-docker@v0.2.8
        with:
          args: --docker
        env:
          USERNAME: ${{ secrets.DOCKER_REGISTRY_USERNAME }}
          PASSWORD: ${{ secrets.DOCKER_REGISTRY_PASSWORD }}
          DOCKERFILE: "Dockerfile"
          IMAGE_NAME: "satont/twobit"
          TAG_NAME: ${{ github.sha }}
          LATEST: "true"